*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  display: block;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

input {
  font-family: inherit;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  width: 358px;
  margin: 0 auto;
}

.header {
  padding: 54px 0 24px;
  background: linear-gradient(
    180deg,
    #766a63 0%,
    rgba(198, 190, 187, 0.81) 100%
  );
  position: absolute;
  width: 100%;
  z-index: 2;
}

.head-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  display: flex;
  align-items: flex-end;
  gap: 6px;
}

.logo-icon {
  fill: #825808;
}

.logo-text {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: -0.08em;
  text-align: center;
  color: #1c4c6b;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.header__language {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  color: #eee8de;
}

.header__btn {
  width: 32px;
  height: 18px;
  border: none;
  outline: none;
  background-color: transparent;
}

.button-icon {
  fill: transparent;
  stroke: #324052;
}

/*Main-Screen*/

.main-screen {
  background-image: url(../images/main-screen.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 280px 16px 264px;
  position: relative;
}

.main-screen__card {
  width: 352px;
  height: 280px;
  background: rgba(251, 252, 252, 0.8);
  border-radius: 20px;
  padding: 16px;
  margin: 0 auto;
}

.main-screen__title {
  color: #2e688d;
  font-family: "Nunito", sans-serif;
  font-size: 40px;
  font-weight: 600;
  font-style: italic;
  line-height: 48px;
  text-align: center;
  margin-bottom: 20px;
}

.main-screen__text {
  font-family: Roboto Condensed;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.04em;
  text-align: left;
  width: 293px;
  color: #324052;
  margin: 0 auto 40px;
  letter-spacing: -4%;
  z-index: 2;
}

.main-screen__btn {
  color: #2b9ee7;
  border: 2px solid #2b9ee7;
  background-color: #c9e4ea;
  border-radius: 20px;
  font-family: Roboto Condensed;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.04em;
  text-align: left;
  min-width: 320px;
  min-height: 68px;
  text-align: center;
}

.main-screen__address {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.04em;
  text-align: center;
  letter-spacing: -4%;
  color: #324052;
  padding: 90px 0 40px;
}

.mail-screen__grad {
  width: 100%;
  height: 160px;
  background: linear-gradient(
    360deg,
    rgba(251, 252, 252, 1) 0px,
    rgba(255, 255, 255, 0) 100%
  );
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

/* plan */

.plan {
  padding: 72px 0 56px;
}

.plan__title {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: -0.05em;
  color: #324052;
  margin-left: 24px;
  margin-bottom: 24px;
  position: relative;
  display: inline-block;
}

.plan__title::after {
  content: "";
  min-width: 95px;
  height: 2px;
  background-color: #ceb181;
  position: absolute;
  right: -111px;
  top: 50%;
}

.plan__card {
  display: flex;
  gap: 32px;
}

.plan__card:last-child {
  justify-content: flex-end;
}

.plan__card:last-child img {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.plan__card img {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 146px;
  height: 200px;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
}

.plan__card-text-inner {
  padding: 20px 0;
}

.plan__figure-first {
  font-family: "Nunito", sans-serif;
  font-style: italic;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.05em;
  color: #2e688d;
}

.plan__text-first {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.04em;
  color: #2e688d;
}

.plan__figure-second {
  font-family: "Nunito", sans-serif;
  font-style: italic;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.05em;
  color: #8d6515;
}

.plan__text-second {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.04em;
  color: #8d6515;
}

