*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  display: block;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

input {
  font-family: inherit;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  width: 358px;
  margin: 0 auto;
}

.header {
  padding: 54px 0 24px;
  background: linear-gradient(
    180deg,
    #766a63 0%,
    rgba(198, 190, 187, 0.81) 100%
  );
  position: absolute;
  width: 100%;
  z-index: 2;
}

.head-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  display: flex;
  align-items: flex-end;
  gap: 6px;
}

.logo-icon {
  fill: #825808;
}

.logo-text {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: -0.08em;
  text-align: center;
  color: #1c4c6b;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.header__language {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  color: #eee8de;
}

.header__btn {
  width: 32px;
  height: 18px;
  border: none;
  outline: none;
  background-color: transparent;
}

.button-icon {
  fill: transparent;
  stroke: #324052;
}

/*Main-Screen*/

.main-screen{
  background-image: url(../images/main-screen.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 280px 16px 40px;
  position: relative;
}

.main-screen__card {
  width: 352px;
  height: 280px;
  background: rgba(251, 252, 252, 0.8);
  border-radius: 20px;
  padding: 16px;
  margin: 0 auto 122px;
}

.main-screen__title {
  color:#2E688D;
  font-family: "Nunito";
  font-size: 40px;
  font-weight: 600;
  font-style: italic;
  line-height: 48px;
  text-align: center;
  margin-bottom: 20px;
}

.main-screen__text{
  font-family: Roboto Condensed;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.04em;
  text-align: left;
  color:#324052;
  margin-bottom: 40px;
  letter-spacing: -4%;
  z-index: 2;
}

.main-screen__btn{
  color: #2B9EE7;
  border: 2px solid #2B9EE7;
  background-color: #C9E4EA;
  border-radius: 20px;
  font-family: Roboto Condensed;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.04em;
  text-align: left;
  min-width: 320px;
  min-height: 68px;
  text-align: center;
}

.main-screen__address{
    font-family: Roboto Condensed;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.04em;
    text-align: center;
    letter-spacing: -4%;
    color: #324052;
    padding: 90px 37px 40px;
}

.mail-screen__grad{
  width: 100%;
  height: 160px;
  background: linear-gradient(360deg, rgba(251, 252, 252, 1) 0px, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}